body {
  background-color: black;
}
.s-slide {
  width: 205px;
  margin: 100px;
  background: #7178FF;
  border-radius: 27px;
  -webkit-appearance: none;
  padding: 5px;
  transition: opacity 430ms ease;
  position: relative;
}
.s-slide::before {
  content: "Slide to unlock";
  color: #ffffff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
}
.s-slide::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 50%;
  background: #FFFFFF;
  z-index: 1;
  width: 44px;
  position: relative;
  height: 44px;
  transition: 160ms ease;
  cursor: pointer;
}
.s-slide::-webkit-slider-thumb:active{
  background-color: #D1FCFF;
}
h1 {
  font-style: Verdana;
  text-align: center;
  font-size: 36px;
  color: white;
}